.section_user {
  padding: 8rem 0;
  background: var(--orange_bg);
  color: var(--textColor);
  text-align: center;
  font-size: 16pt;
  display: flex;
  flex-direction: column;
}

.user a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.user {
  padding: 1rem;
}

.users_list {
  display: flex;
  margin: 0 auto;
  width: inherit;
  flex-wrap: wrap;
}
