.section_user {
  padding: 8rem 0;
  background: #ffe4b5;
  color: rgb(31, 29, 29);
  text-align: center;
  font-size: 16pt;
}

.user a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.user {
  padding: 1rem;
}
