.header {
  background: linear-gradient(rgba(75, 26, 5, 0.5), rgba(0, 0, 0, 0.9)),
    url(images/pexels-photo-2061678.jpeg) center/cover no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header h1,
.header h2 {
  text-align: center;
}
