<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>add new user</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form action="/add_user" method="post">
      <div>
        <label for="author">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <button class="my-btn" type="submit" class="btn">Submit</button>
      </div>
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
  </body>
</html>
