<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add_user.css') }}"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <title>add new user</title>
  </head>
  <body>
    <!-- ===========navbar========== -->
    {% include 'navbar.html' %}
    <!-- end navbar -->
    <div class="section_user">
      <h1>Sign Up</h1>
      <a href="{{ url_for('login') }}">Already have an account? click here</a>
      <form class="my-form" action="/add_user" method="post">
        <div>
          <label for="author">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div>
          <label for="profile_picture_url">Profile Picture URL:</label>
          <input
            type="text"
            name="profile_picture_url"
            id="profile_picture_url"
            required
          />
        </div>
        <div>
          <button class="my-btn" type="submit" class="btn">Submit</button>
        </div>
      </form>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
    <script>
      const nav_toggle = document.querySelector("#nav-toggle");
      const links = document.querySelector("#nav-links");
      nav_toggle.addEventListener("click", () => {
        links.classList.toggle("show-links");
      });
    </script>
  </body>
</html>
