<!-- add_review.html -->

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add_review.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />

    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <title>Add Review</title>
  </head>
  <body>
    <!-- ===========navbar========== -->
    {% include 'navbar.html' %}
    <!-- end navbar -->
    <div class="container">
      <h1 class="section_title">Add Review for {{ movie["name"] }}</h1>
      <form
        class="review_form"
        method="post"
        action="{{ url_for('add_review', user_id=user_id, movie_id=movie_id) }}"
      >
        <label for="review_text">Review:</label>
        <textarea
          class="review_textarea"
          id="review_text"
          name="review_text"
          required
        ></textarea>

        <label for="rating">Rating:</label>
        <input
          class="review_rating"
          type="number"
          id="rating"
          name="rating"
          min="1"
          max="10"
          step="0.1"
          required
        />

        <button class="review_button" type="submit">
          {% if user_review %} Edit Review {% else %} Submit Review {%endif%}
        </button>
      </form>

      {% for review in user_review %}
      <div class="review-container">
        <div class="review">
          <div class="review-btn-headline">
            <h5>My Review</h5>
            <form
              class="delete_review_form"
              action="{{ url_for('delete_review', user_id=user_id, movie_id=movie_id) }}"
              method="post"
            >
              <button class="delete_review_button" type="submit">
                <i class="fa fa-times"></i>
              </button>
            </form>
          </div>
          <p>{{ review['review_text'] }}</p>
          <p>My Rating: {{ review['rating'] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
