<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />

    <title>Home</title>
  </head>
  <body>
    <!-- ===========navbar========== -->
    {% include 'navbar.html' %}
    <!-- end navbar -->
    <div class="header">
      <h3>hello</h3>
      <h1>Welcome to Movies app</h1>
      <a class="my-btn" href="{{ url_for('login') }}">Login</a>
      <br />
      <a class="my-btn" href="{{ url_for('add_user') }}">Sign up</a>
      <br />
      <a class="my-btn" href="{{ url_for('list_users') }}">list of users</a>
    </div>
    <script>
      const nav_toggle = document.querySelector("#nav-toggle");
      const links = document.querySelector("#nav-links");
      nav_toggle.addEventListener("click", () => {
        links.classList.toggle("show-links");
      });
    </script>
  </body>
</html>
