<nav class="navbar">
  <!-- ===========navbar========== -->
  <div class="nav-center">
    <!-- nav header  -->
    <div class="nav-header">
      <i class="fa fa-film nav-loggo"></i>

      <button type="button" class="nav-toggle" id="nav-toggle">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <!-- end of nav header -->
    <!-- links -->
    <ul class="nav-links" id="nav-links">
      <!-- link 1 -->
      <li>
        <a href="{{ url_for('home') }}" class="nav-link scroll-link">home</a>
      </li>
      <!-- end of link 1 -->

      <li>
        {% if user %}
        <a
          href="{{ url_for('profile_page', user_id=user['id'], username=user['name']) }}"
          class="nav-link scroll-link"
          >profile</a
        >

        {% else %} {% endif %}
      </li>
    </ul>

    <!-- end of links -->

    <!-- nav icons -->
    <ul class="nav-icons">
      <!-- icon 1 -->
      <li>
        <a href="http://www.twitter.com" target="_blank" class="nav-icon">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <!-- end fo icon 1 -->
      <!-- icon 2 -->
      <li>
        <a href="http://www.facebook.com" target="_blank" class="nav-icon">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <!-- end fo icon 2 -->
      <!-- icon 3 -->
      <li>
        <a href="http://www.instagram.com" target="_blank" class="nav-icon">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <!-- end fo icon 3 -->

      <li class="nav-greeting">
        {% if user %} Hello, {{ session['user']['name'] }}
        <a class="my-btn" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a class="my-btn" href="{{ url_for('login') }}">LogIn</a> {% endif %}
      </li>
    </ul>
    <!-- end of nav icons -->
  </div>
</nav>
