<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />

    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <title>Home</title>
  </head>
  <body>
    <!-- ===========navbar========== -->
    {% include 'navbar.html' %}
    <!-- end navbar -->
    <div class="header">
      <h1>{{ user.name }}'s profile</h1>

      <img src="{{ profile_picture_url }}" alt="pic" />
      <!-- show the btns only to the user who own the profile -->
      {% if session.user and session.user.id == current_id %}
      <a class="my-btn" href="/users/{{ user['id'] }}">my movies</a>
      <a
        class="my-btn edit-profile-link"
        href="{{ url_for('update_profile_pic') }}"
        >Edit Profile Picture</a
      >
      {% endif %}
    </div>
    <script>
      const nav_toggle = document.querySelector("#nav-toggle");
      const links = document.querySelector("#nav-links");
      nav_toggle.addEventListener("click", () => {
        links.classList.toggle("show-links");
      });
    </script>
  </body>
</html>
